@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Oops.</h1>
<p class="text-center"><img src="https://res.cloudinary.com/tematema/image/upload/v1471737309/flbjfmjdzf4rnjzkjzvb.jpg" /></p>

