
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Page not found this site ;(</h2>
<p class="text-center"><img src="https://res.cloudinary.com/tematema/image/upload/v1471737309/flbjfmjdzf4rnjzkjzvb.jpg" /></p>

