
@{
    ViewBag.Title = "Access denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Access denied</h2>
<p class="text-center"><img src="https://res.cloudinary.com/tematema/image/upload/v1471738315/q7snywbxw21mc5sqd4sz.png" /></p>

