@model SiteBuilder.Models.Page

@{
    ViewBag.Title = "CreatePage";
    Layout = "~/Views/Shared/_LayoutCreatePage.cshtml";
}

<h2 class="text-center">CreatePage</h2><br>

<h5 class="text-center">Pages this site</h5>
@foreach (var Page in ViewBag.Pages)
{
    <p class="text-center">@Page.Name</p>
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formPage" }))
            {
                @Html.ValidationSummary()
                @Html.HiddenFor(x => x.SiteId, new { Value = ViewBag.SiteId, id="inputSiteId"})
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", type = "text", id="inputPageName" })
                </div>
                <button type="button" onclick="submitForm()" class="btn btn-default">Submit</button>
            }
        </div>
    </div>
</div>

<h4 class="text-center">Type layout:</h4>
<div class="button-center">
<button type="button" class="btn btn-info" id="template1" onclick="loadTemplate(this)">1</button>
<button type="button" class="btn btn-info" id="template2" onclick="loadTemplate(this)">2</button>
<button type="button" class="btn btn-info" id="template3" onclick="loadTemplate(this)">3</button>
</div>

<h4 class="text-center">Add content:</h4>
<div class="text-center">
    <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-64.png" id="image" />
    <img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/24.TV-64.png" id="video" />
</div>

<div id="layout"></div>

<a href="/SiteBuilder/Show/@ViewBag.UserId/@ViewBag.SiteId/">View site</a>

