
@{
    string variable = ViewBag.navbarType;

    if (variable == "2")
    {
        Layout = "~/Views/Shared/_LayoutSidebarShowPage.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutTopbarShowPage.cshtml";
    }
}



        <input type="hidden" value="@ViewBag.templateData.Name" id="templateName" />
        <input type="hidden" value="@ViewBag.templateData.CountBlocks" id="countBlocksTemplate" />
@{
    int counter = 1;

    foreach (var content in ViewBag.contentList)
    {

                <input type="hidden" value="@content.Data" class="@content.ContentType.Name" id="content_@counter">

            counter++;
        }
    }

    <div class="container">
            <div id="layout"></div>
    </div>
