
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
</head>
<body>
    <div>
        @foreach (var Page in ViewBag.Pages)
        {
            <p>@Page</p>
        }
    </div>
</body>
</html>
