
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show</title>
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(document).ready(function() {
            alert('+');
        });
    </script>
</head>
<body>
    <div>
        //
    </div>
</body>
</html>
