body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.text-center {
    text-align: center;
}

.last-create-site {
    line-height: 0.1;
    text-align: center;
}

div.centre
{
  /*width: 200px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

.bigBlock {
    height: 260px;
    background-color: #e6e6e6;
    margin: 10px;
}

.smallBlock {
    width: 48%;
    display: inline-block;
    height: 260px;
    background-color: #e6e6e6;
    margin: 10px;
}

.containerBlocks {
    overflow: hidden;
}

.elements {
    white-space: nowrap;
}

.button-center {
    text-align: center;
}

.button-center button {
    display: inline-block;
}

.bigBlock img {
    display:block;
    margin:auto;
}

.smallBlock img {
    display:block;
    margin:auto;
}

.container-table-site {
    width: 80%;
    margin: 0 auto;
}

.container-table-site tr a {
    font-size: 20px;
}

