<h1 id="draggable">Template 3</h1>

<div class="containerBlocks">
    <div class="elements">
        <div class="smallBlock" id="droppable"></div>
        <div class="smallBlock" id="droppable"></div>
    </div>
</div>
<div class="containerBlocks">
    <div class="elements">
        <div class="smallBlock" id="droppable"></div>
        <div class="smallBlock" id="droppable"></div>
    </div>
</div>