@Scripts.Render("~/bundles/dragndrop")

<div class="bigBlock" id="droppable1"></div>
<div class="containerBlocks">
    <div class="elements">
        <div class="smallBlock" id="droppable2"></div>
        <div class="smallBlock" id="droppable3"></div>
    </div>
</div>