<div class="containerBlocks">
    <div class="elements">
        <div class="smallBlock" id="droppable"></div>
        <div class="smallBlock" id="droppable"></div>
    </div>
</div>
<div class="bigBlock" id="droppable"></div>
