@{
    Layout = null;
}

<!DOCTYPE html>
<div class="editPanel">
    <a href="/SiteBuilder/CreatePage/@ViewBag.site">Add page</a>&nbsp;&nbsp;&nbsp;
    <a href="/SiteBuilder/EditSite/@ViewBag.site">Edit site</a>&nbsp;&nbsp;&nbsp;
    <a href="/SiteBuilder/DeleteSite/@ViewBag.site">Delete site</a>
</div>
